<!DOCTYPE HTML>
<html>
<head>
    <title>CHAT</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://lib.baomitu.com/socket.io/3.1.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/chat';
            var socket = io("http://81.70.180.118:5000" + namespace);


            socket.on('connect', function () {
                socket.emit('join_rooms', {'user_id': 'Mfgxc0712155901446661'}) // 写 user_id
            })


            // 这个sid存到缓存里面
            socket.on('get_rooms_info', function (message) {
                console.log(message)
            })
            socket.on('resp', function(message, callback_func) {
                $('#log').append('<br>' + $('<div/>').text('MSG: ' + message.data).html());
                if (callback_func) {
                    callback_func();
                }
            })
        })
    </script>
</head>
<body>

</body>
</html>
